@import '@styles/variables';

.input-wrapper {
  position: relative;
  width: 100%;

  @media(min-width: $desktop-breakpoint) {
    flex-grow: 1;
    max-width: $form-field-max-width;
    width: max-content;
  }
}

.validated-input {
  padding-right: 2rem !important;
  margin-bottom: 0 !important;
}

.indicator-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.25rem;

  &.valid {
    color: $green;
  }

  &.invalid {
    color: $red;
  }
}

