
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 120px 20px;
}

.loading-spinner-wrapper {
  position: fixed;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}

