@import '@styles/variables';

.wrapper {
  min-height: 120px;
  margin-bottom: 20px;
  width: 100%;

  input:not([type=checkbox]):not([type=radio]),
  select,
  textarea {
    width: 100%;
    font-size: 1rem;
    padding: 8px;
    margin-left: -8px;
    border-radius: 12px;
    border: 1px solid $input-border-color;

    &[disabled] {
      color: rgb(84, 84, 84);
      cursor: default;
      background-color: rgb(235, 235, 228);
    }

    @media(min-width: $desktop-breakpoint) {
      max-width: $form-field-max-width;
    }
  }

  input[type=checkbox],
  input[type=radio] {
    margin-bottom: 20px;
  }

  textarea {
    border-bottom-right-radius: 0;
  }

  p {
    max-width: 420px;
    margin-top: 0;

    @media(min-width: $desktop-breakpoint) {
      margin-top: .5rem;
      margin-bottom: .5rem;
      text-align: right;
    }
  }
}

.label {
  display: block;
  font-weight: 700;
  margin-bottom: .5rem;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;

  @media(min-width: $desktop-breakpoint) {
    margin-bottom: 0;
    flex-direction: row;
    align-items: flex-start;
  }
}

.required-asterisk {
  color: $error-color;
}

