@import '@styles/variables';

.switch-background {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 48px;
  height: 24px;
  background-color: $medium-grey;
  cursor: pointer;
  transition: all .3s;

  &.active {
    background-color: $primary-color;
  }
}

.switch {
  width: 18px;
  height: 18px;
  background-color: white;
  box-shadow: $box-shadow-small;
  border-radius: 100%;
  transition: all .3s;
}

