@import '@styles/variables';

.wrapper {
  text-align: left;
}

.title-wrapper {
  display: flex;
  align-items: center;
}

.component-section {
  margin-top: 4rem;
  border-top: 1px solid $medium-light-grey;
}

.large-text-wrapper {
  font-size: 1.75rem;
}

.flex-wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.flex-start-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.horizontal-margins {
  & > *:not(:last-child) {
    margin-right: 1.25rem;
  }
}

.vertical-margins {
  & > *:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

