@import './variables';

html,
body {
  padding: 0;
  margin: 0;
  font-family: $app-font-family;
  color: $text-color;
}

button {
  font-family: $app-font-family;
}

* {
  box-sizing: border-box;
}

@import './responsive-utils';
@import './buttons';
@import './modals';

