@import './variables';

$breakpoints: (
  "mobile": $mobile-breakpoint,
  "tablet": $tablet-breakpoint,
  "desktop": $desktop-breakpoint,
  "desktop-hd": $desktop-hd-breakpoint
);

// Generates show/hide classes for each of the breakpoints above.
// Example: mobile breakpoint 360px
//
//   .hide-mobile -> hides the element for 0 - 359px and displays it at 360px and above
//   .show-mobile -> displays the element for 0 - 359px and hides it at 360px and above
//
@mixin generate-responsive-classes() {
  @each $name, $breakpoint in $breakpoints {
    .hide-#{$name} {
      @media (max-width: calc($breakpoint - 1px)) {
        display: none;
      }
    }

    .show-#{$name} {
      @media (min-width: $breakpoint) {
        display: none;
      }
    }
  }
}

// General purpose class to hide elements
.hidden {
  display: none;
}

// Run the mixin
@include generate-responsive-classes();

