@import '@styles/variables';

.wrapper {
  text-align: left;
}

.title-wrapper {
  display: flex;
  align-items: center;
}

.section {
  margin-top: 4rem;
  border-top: 1px solid $medium-light-grey;
}

.page-preview {
  position: relative;
  max-height: 30rem;
  border-radius: 2rem;
  box-shadow: $box-shadow-medium;
  cursor: pointer;
  transition: box-shadow .3s;
  overflow: hidden;

  &:hover {
    box-shadow: $box-shadow-large;
  }
}

.page-component-wrapper {
  position: relative;
  pointer-events: none;
}

.page-margin-fix {
  // apply a negative margin to negate the padding from the modal
  margin: -20px;
}

.return-button-wrapper {
  margin: 10rem 0;
}

.return-button-content {
  display: flex;
  align-items: center;
}

