@import '@styles/variables';

.wrapper {
  padding: 8px;
  -webkit-animation: fade-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
  animation: fade-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

.shadow {
  border-radius: 8px;
  background: white;
  box-shadow: 0 4px 16px rgba(0,0,0,0.3);
}

.spinner {
  font-size: 10px;
  width: 20px;
  height: 20px;
  text-indent: -9999em;
  border-radius: 50%;
  background: $primary-color;
  background: -moz-linear-gradient(left, $primary-color 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, $primary-color 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, $primary-color 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, $primary-color 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, $primary-color 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);

  &:before {
    width: 50%;
    height: 50%;
    background: $primary-color;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }

  &:after {
    background: white;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  -webkit-animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both, rotate 0.6s linear infinite both;
  animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both, rotate 0.6s linear infinite both;

  @media(min-width: $desktop-breakpoint) {
    width: 28px;
    height: 28px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes scale-in {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

