@import '@styles/variables';

.wrapper {
  position: relative;
  display: inline-block;
}

.menu-button {
  cursor: pointer;
  display: flex;
  align-items: center;

  // the negative margin + padding expands the click zone
  margin: -20px;
  padding: 20px;

  svg {
    stroke: $text-color-light;
    transition: stroke .3s;
  }

  &.open,
  &:hover {
    .menu-title {
      color: $primary-color;
    }

    svg {
      stroke: $primary-color;
    }
  }

  @media(max-width: calc($desktop-breakpoint - 1px)) { // note max-width rather than mobile-first min-width
    display: none;
  }

  &.hamburger-only {
    display: none;
  }

  &.text-only {
    display: flex;
  }
}

.menu-title {
  font-weight: 700;
  color: $text-color-light;
  margin-right: 12px;
  transition: color .3s;
}

.hamburger-button {
  cursor: pointer;
  margin: -20px;
  padding: 20px;

  &.open,
  &:hover {
    .hamburger-bar {
      background: $primary-color;
    }
  }

  @media(min-width: $desktop-breakpoint) {
    display: none;
  }

  &.hamburger-only {
    display: block;
  }

  &.text-only {
    display: none;
  }
}

.hamburger-bar {
  display: block;
  height: 2px;
  width: 20px;
  background: $text-color-light;
  margin-bottom: 4px;
  transition: background .3s;
}

.menu-background {
  position: fixed;
  z-index: 199;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.menu-content {
  position: absolute;
  transform: translatey(-32px);
  background-color: white;
  box-shadow: $box-shadow-medium;
  border-radius: 12px;
  min-width: 150px;
  z-index: 200;
  flex-direction: column;

  a,
  button,
  .button {
    cursor: pointer;
    background: transparent;
    border: none;
    text-align: left;
    color: $text-color-light;
    font-weight: 700;
    font-size: 1.125rem;
    padding: 8px 24px;
    text-decoration: none;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    margin: 0 4px;
    box-shadow: none;

    &:first-child {
      margin-top: 16px;
    }

    &:last-child {
      margin-bottom: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 4px;
    }

    &:hover {
      background-color: $primary-color;
      color: white;
      box-shadow: $box-shadow-medium;
    }
  }

  @media(min-width: $desktop-breakpoint) {
    transform: translatey(8px);
  }
}

